<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry Helpers</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Peça</th>
                    <th>Cor original</th>
                    <th>Cor tingida</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button class="record btn">Record</button>
        <button class="send btn">Send</button>
    </main>
    <script src="./main.js" type="module"></script>
</body>
</html>